/* Common */
.adminContainer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    .adminContainer {
      padding-left: 0;
    }
  }

/* Profil */
.profilPartContainer {
  border: 2px solid #232524;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #a09d9d;
  height: auto;
  position: relative;
  margin: 5vh 4vw;
}

.insideRow {
  padding: 20px;
  margin: 10px !important;
}

/* Form */
.formContainer {
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

/* Categories */

.catContainer {
  background-color: blue;
  margin-left: auto;
}
.activeCategorieContainerStyle {
  border: 3px solid green;
  border-radius: 5px;
  margin: 5px !important;
  padding: 5px !important;
  width: 150px
}

.inactiveCategorieContainerStyle {
  border: 3px solid #F5EFED;
  border-radius: 5px;
  margin: 5px !important;
  padding: 5px !important;
  width: 150px
}

/* preview logo */
.previewContainer {
  margin: 5px;
  border: 2px solid #F5EFED;
  border-radius: 5px;
}

/* Container Images */
.profilImagesContainer {
  border: 2px solid #232524;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #a09d9d;
  height: auto;
  position: relative;
  margin: 5vh 4vw;
  padding: 20px;
}

.previewOnlineImage {
  border: 3px solid #F5EFED;
  border-radius: 5px;
  margin: 5px !important;
  padding: 5px !important;
  width: 250px;
  position: relative;
}

.boxDeleteContainer {
  border: 2px solid red;
  border-radius: 5px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.boxDeleteText {
  color: red;
}
