.error {
    color: red;
}

.colContainer {
    border: 2px solid gray;
    border-radius: 5px;
    margin: 10px;
}

.activeCategorieContainerStyle {
    border: 2px solid green;
    border-radius: 5px
}

.inactiveCategorieContainerStyle {
    border: 1px solid gray;
    border-radius: 5px
}