/* Common */
.smallBottomRow {
  margin: 20px 0px !important;
}
/* Header */
.bigHeader {
  background: url('./img/backHeader.png');
  width: 100%;
  height: auto;
  padding: 20px;
}

.titleXl {
  font-size: 3.5vw;
  color: #ebe5e5;
  margin-left: 40px;
}

.titleL {
  font-size: 2vw;
  color: #ebe5e5;
  margin-left: 60px;
}

.linkImg {
  max-height: 150px;
  min-height: 80px;
  width: auto;
}

/* BigPart */
.bigPartRow {
  margin: 20px 0px;
  background-color: #e6e1e1
}
.bigPartCol {
  /* border: 2px solid black;
  border-radius: 5px; */
  padding: 10px;
  text-align: center;
}

.bigPartTitle {
  font-size: 3vw;
  color: #252323;
}

/* ProjectRow */
.projectRow {
  margin: 40px 0px;
}

/* ProjectTitle */
.projectTitleContainer {
  padding: 0 5px;
  height: 4vh;
  width: fit-content;
  margin-top: -2.3vh;
  background-color: #ffffff;
}

.projectTitle {
  font-size: 2vw;
  color: #252323;
}

.projectCol {
  border: 2px solid #252323;
  border-radius: 5px;
  padding: 10px;
}

.projectInsideRow {
  padding: 0px;
  margin: 0px !important;
}

/* ProjectContent */
.projectContent {
  padding: 10px;
}

.contentIcon {
  font-size: 3vh;
  color: #252323;
}

.contentText {
  font-size: 2vh;
  color: #252323;
}

.contentApercu {
display: inline-block;
}

/* Tools */
.toolContent {
  text-align: left;
}

.tool {
  text-align: center;
  font-size: 1.5vh;
  color: #252323;
}

.toolText {
  font-size: 1.5vh;
  color: #252323;
}

.toolImage {
  max-height: 40px;
}

/* ProjectImages */
.colImage{
  min-width: 15vw;
  max-width: 15vw;
}
